*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.blue{
  color: #5DA9DD;
}
/* Header */

header{
  display: flex;
  padding: 30px;
  background-color: #184A6C;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
.header-navigation{
  display: flex;
  gap: 15px;
  align-items: center;
}
.upper-navigation{
  display: flex;
  list-style: none;
  gap: 15px;
  
}
.Link{
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.Link:hover{
  transform: scale(1.05);
}
.header-logo img{
  height: 2.5rem;
}
.header-navigation img{
  height: 2rem;
}
select{
  color: #fff;
  background-color: #5DA9DD;
  border: none;
  padding: 5px;
  border-radius: 25px;
}
option{
  border: #5DA9DD;
}
.Link{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

/* Home */
.home{
  padding: 30px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero h1{
  width: 31.25rem;
  font-size: 22px;
}

/* Variations */
.variations{
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.variations h1{
  text-align: center;
}
.variations-container{
  padding: 15px;
}
.variation-card{
  margin-top: 15px;
  background-color: #D4EEF9;
  padding: 25px;
  border-radius: 15px;
}
.variation-card p{
  font-weight: bold;
  font-size: 18px;
}

/* Requirements */
.requirements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.requirements-main{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.requirements-container{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 15px;
}
.requirement-card{
  padding: 15px;
  background-color: #D4EEF9;
  color: #184A6C;
  border-radius: 25px;
}

/* Faculty */
.faculty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.faculty-main{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.faculty-main h2{
  width: 400px;
  font-size: 26px;
  font-weight: bold;
  color: #5DA9DD;
  text-align: center;
}

/* Location */
.location{
  display: flex;
  gap: 15px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.info{
  color: #5DA9DD;
  font-weight: bold;
  font-size: 22px;
  width: 25rem;
}
.map{
  width: 45rem;
}



/* Footer */
footer{
  display: flex;
  justify-content: space-between;
  background-color: #184A6C;
  color: #fff;
  font-weight: bold;
  padding: 30px;
}
.line{
  width: 1px;
  height: 200px;
  background-color: #fff;
}
.heading{
  font-size: 22px;
}
.fast-links{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-navigation{
  list-style: none;
}
.footer-navigation .Link{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.faq{
  width: 200px;
}
footer p, footer li{
  margin-top: 10px;
}
.social-media{
  left: 0;
}
.social-media img{
  margin-top: 10px;
}